
/* ----------------------------------------------------------------

	blog.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Blog
-----------------------------------------------------------------*/

.post {
	position: relative;
}

.post-content {
	position: relative;
	font-size: 1.5625rem;
	line-height: 1.3;
	font-family: $heading-font;
	color: $heading-color;
	font-weight: 500;
	padding-bottom: 0.5rem;
}

.post-date {
	opacity: 0.5;
	font-family: $heading-font;
	color: $heading-color;
	font-size: $h6-font-size;
	font-weight: 500;
}

